{% extends 'main.html'%}
{% block crud_container %}
    {% if user %}
        <article class="card container fluid"></article>
        <br>
        <h2> ID: {{user.id}}</h2>
        <p>
            Name: {{user.username}}
        </p>
        <p>
            Age: {{user.age}}
        </p>
    {% else %}
            <section class="container-fluid">
                <h2 align="center"> Users </h2>
                <br>
                <div class="card">
                    <ul class="list-group list-group-flush">
                        {% for user in users %}
                        <li class="list-group-item"><a href="/user/{{user.id - 1}}"> {{user.id}}. {{user.username}} </a></li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
    {% endif %}
{% endblock %}
